<!-- HTML imports -->
<link rel="import" href="../../../bower_components/core-animated-pages/core-animated-pages.html">
<link rel="import" href="../../../bower_components/core-animated-pages/transitions/slide-from-right.html">
<link rel="import" href="../../../bower_components/core-ajax/core-ajax.html">
<link rel="import" href="../../../bower_components/core-icons/core-icons.html">
<link rel="import" href="../../../bower_components/core-header-panel/core-header-panel.html">
<link rel="import" href="../../../bower_components/core-toolbar/core-toolbar.html">
<link rel="import" href="../../../bower_components/core-media-query/core-media-query.html">
<link rel="import" href="../../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">

<!-- Component declaration -->
<polymer-element name="activities-inbox">
  <template>
    <link rel="stylesheet" href="/styles/activities-inbox.css">

    <core-ajax auto url="/api/inbox.json" handleAs="json" on-core-response="{{handleActivitiesList}}"></core-ajax>

    <core-header-panel flex>
      <core-animated-pages selected="{{hash}}" transition="slide-from-right">
        <!-- Activities list -->
        <section>
          <core-media-query query="{{query}}" queryMatches="{{qMatches}}" on-core-media-change="{{test}}"></core-media-query>

          <div layout vertical center>
            <div id="list" layout vertical>
              <core-toolbar>
                <div>Activities Inbox</div>
              </core-toolbar>
              <template repeat="{{activity in activities}}">
                <div class="item" layout horizontal on-tap="{{transition}}">
                  <div flex>{{activity.employee}}</div>
                  <div flex>{{activity.process}} {{activity.activity}}</div>
                  <!-- <div flex>{{activity.requestDate}}</div> -->
                  <div>{{activity.length}}</div>
                  <paper-icon-button class="approved" icon="assignment-returned"></paper-icon-button>
                  <paper-icon-button on-click={{approveActiviyRequest}} class="green" icon="check"></paper-icon-button>
                  <paper-icon-button on-click={{denyActiviyRequest}} class="red" icon="close"></paper-icon-button>
                  <!-- <a href="#{{activity.id}}">
                    <paper-icon-button class="light-gray" icon="arrow-forward"></paper-icon-button>
                  </a> -->
                </div>
              </template>
            </div>
          </div>
        </section>

        <!-- Activity detail -->
        <template hash="{{activity.hash}}" repeat="{{activity in activities}}">
          <section>
            <div layout vertical center>
              <core-toolbar>
                <div>{{activity.employee}}</div>
              </core-toolbar>
            </div>
          </section>
        </template>
      </core-animated-pages>
    </core-header-panel>
  </template>

  <script>
    (function(d, w) {
      'use strict';

      // A *MUST-HAVE* declartion to create a Polymer element
      Polymer('activities-inbox', {
        query: 'min-width: 800px',

        handleActivitiesList: function(response, xhr) {
          let rawActivitiesList = xhr.response;

          this.activities = [].map.call(rawActivitiesList, function(rawActivity) {
            let diffMiliseconds =
              Math.abs(new Date(rawActivity.endDate) - new Date(rawActivity.beginDate)),
                diffDays = diffMiliseconds / (1000 * 60 * 60 * 24),
                requestDate = new Date(rawActivity.requestDate),
                requestMonth = requestDate.toLocaleString('en-us', { month: 'short' }),
                requestDateFormatted =
                  requestMonth + ' ' + requestDate.getUTCDate() + ', ' + requestDate.getFullYear();

            return {
              hash: rawActivity.activityId,
              employee: rawActivity.employee,
              process: rawActivity.process,
              activity: rawActivity.activity,
              requestDate: requestDateFormatted,
              length: diffDays
            };
          });
        },

        transition: function(e) {
          this.hash = e.target.templateInstance.model.activity.hash;
        },

        test: function() {
          if (e.detail.matches) {
            this.$.list.classList.remove('wide');
          } else {
            this.$.list.classList.add('wide');
          }
        },

        approveActiviyRequest: function(e) {
          var t = e.target,
              p = t.parentNode;
        },

        denyActiviyRequest: function(e) {
          var t = e.target,
              p = t.parentNode;
        }
      });
    })(document, window);
  </script>
</polymer-element>
